accelerate==1.6.0
basicsr-fixed==1.4.2
diffusers==0.34.0
easydict==1.13
einops==0.8.1
huggingface-hub==0.30.2
matplotlib==3.10.1
numpy==1.26.4
onnx==1.17.0
onnxruntime-gpu==1.21.1
open3d==0.19.0
opencv-python-headless==4.11.0.86
peft==0.15.0
pillow==11.1.0
pyyaml==6.0.2
scikit-image==0.24.0
scipy==1.15.2
sentencepiece==0.2.0
timm==1.0.15
transformers==4.51.3
trimesh==4.6.1
